body {
    background-color: black;
    color: white;
}

/*forgot margin-auto */

main {
    padding-left: 90px;
    padding-right: 90px;
    max-width: 1000;
    margin-left: auto;
    margin-right: auto;
}

.neb {
    width: 250px;

}

.left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    /*    margin-right: 75px;*/
}

.right {
    float: right;
    margin-left: 20px;
    margin-top: 20px;

}
